html, body, div.map_container {
    height: 100%;
    width: 100%;
    margin: 0px;
}

div.map_container {
    position: relative;
    float: left;
    width: 70%;
    height: 80%
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;    
}

div.controls {
    float: right;
    width: 30%;
}

.markerlabel {
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #333;
    padding: 2px;
    background: #fff;
    color: #333;
}